# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# PHP / local env
*.log
.env
.env.local
vendor/

# Runtime SQLite database — auto-created by includes/db.php on first request.
/data/
